*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(203, 255, 217);
}
h1, h2 {
    color: blue;
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
    margin: 30px 100px;
}

.text {
    background-color: rgb(208, 197, 197);
    display: inline-block;
    margin: 30px 80px;
    padding: 50px;
    width: 500px;
    height: 200px;
}

.text.relatorio {
    margin-left: 150px;
}

.text p {
    text-align: justify;
}

h3 {
    text-align: center;
}

footer {
    background-color: darkgray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* justify-content: space-around; */
}

/* 

.text {
    width: 300px;
    height: 200px;
    background-color: rgb(208, 197, 197);
    padding: 10px;
    margin: 10px;
} */

/* .relatorio {
    display: inline-block;
}
.infos{
    display: inline-block;
} */
