*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: white;
}
h1, h2 {
    color: blue;
    margin: 0 auto;
    width: fit-content;
}

header, .fotos-zoo {
    background-color: rgb(203, 255, 217);
    padding: 20px;
}

main{
    width: fit-content;
    margin: 0 auto;
}
.text {
    width: 500px;
    height: 200px;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    padding: 30px;
    vertical-align: top;
}
.relatorio {
    margin-right: 200px;
}

.relatorio, .infos {
    background-color: rgb(199, 217, 229);
}


img {
    width: 500px;
    height: 300px;
}

img:nth-child(1) {
    margin-right: 200px;
}

.fotos-zoo {
    margin: 0 auto;
}

.imagens {
    width: fit-content;
    margin: 10px auto;
}

footer p {
    width: fit-content;
    margin: 0 auto;
}

footer {
    background-color: rgb(203, 255, 217);
    padding: 20px;
}

